<h3>SIGN IN</h3>
<form action="/user/sign-in" method="post">
    <input type="email" name="email" placeholder="Enter Email" required><br>
    <input type="password" name="password" id="" placeholder="Enter Password" required><br>
    <button type="submit">Sign In</button>
</form>
<p>
    <a href="/user/auth/google">Google SignIn / SignUp</a>
</p>