<h3>SIGN UP</h3>
<form action="/user/sign-up" method="post">
    <input type="email" name="email" placeholder="Enter Email" required><br>
    <input type="password" name="password" id="" placeholder="Enter Password" required><br>
    <input type="password" name="ConfromPassword" id="" placeholder="Confrom Password" required><br>
    <button type="submit">Sign up</button>
</form>